<!doctype html>
<html lang="{{ site.lang }}">
  <!-- Head -->
  <head>
    {% if page.redirect %}
      {% if page.redirect == true %}
        {% assign redirect = site.baseurl | append: '/' %}
      {% elsif page.redirect contains '://' %}
        {% assign redirect = page.redirect %}
      {% else %}
        {% assign redirect = page.redirect | relative_url %}
      {% endif %}
      <meta http-equiv="refresh" content="3; url={{ redirect }}">
    {% endif %}
    {% include head.liquid %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    
    <!-- Header -->
    {% include header.liquid %}

    <!-- Cherry Blossom Animation -->
    <script src="{{ site.baseurl }}/assets/js/game_of_life_sim_v2.js"></script>
  
    <div id="canvas-container">
    <!-- Your canvas content goes here -->
    </div>

    <!-- Chat Box -->
    <div class="chat-box">
        <input type="text" id="user-input" placeholder="Type your message...">
        <button onclick="sendMessage()">Send</button>
    </div>

    <!-- Reference the CSS file without the # symbol -->
    <link rel="stylesheet" href="{{ 'assets/css/opensource_ai.css' | relative_url }}">

    <!-- Include the JavaScript file -->
    <script src="{{ 'assets/js/opensource_ai.js' | relative_url }}"></script>



    <script src="scripts/main.js"></script>
    <!-- Content -->
    <div class="container mt-5" role="main">
      {% if page.toc and page.toc.sidebar %}
        {% if page.toc.sidebar == 'right' %}
          <div class="row">
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
          </div>
        {% else %}
          <div class="row">
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
          </div>
        {% endif %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>

    <!-- Footer -->
    {% include footer.liquid %}

    <!-- JavaScripts -->
    {% include scripts/jquery.liquid %}
    {% include scripts/bootstrap.liquid %}
    {% include scripts/masonry.liquid %}
    {% include scripts/mermaid.liquid %}
    {% include scripts/diff2html.liquid %}
    {% include scripts/leaflet.liquid %}
    {% include scripts/chartjs.liquid %}
    {% include scripts/echarts.liquid %}
    {% include scripts/vega.liquid %}
    {% include scripts/tikzjax.liquid %}
    {% include scripts/misc.liquid %}
    {% include scripts/badges.liquid %}
    {% include scripts/mathjax.liquid %}
    {% include scripts/analytics.liquid %}
    {% include scripts/progressBar.liquid %}
    {% include scripts/wechatModal.liquid %}
    {% include scripts/imageLayouts.liquid %}

  </body>
</html>
